@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Pixelify+Sans:wght@400;600&family=Young+Serif&display=swap');
@import url(./style.css);
@import url(./media_queries.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: unset;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 24px;
}
p{
    font-size: 24px;
}
:root{
    --colorPrimario:#3A7FFF;
    --colorSecundario:#EFEFEF;
    --gris:#333333;
    --negro:#000000;
    --blanco:#FFFFFF;
}