.seccionIntroduccion {
    font-size:180%;
    padding: 5%;
    color: var(--colorPrimario);
    margin-top: 20px;
}
.seccionPresentacion{
    font-size:150%;
    padding: 5%;
    font-weight: lighter;
}
.seccionBoton{
    background-color: transparent; 
    border: none; 
    cursor: pointer;
    padding: 10px;
    margin-bottom: 180px;
}
.cover{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(./imagenes/portfolio-background-4.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: all 2s;
}

@keyframes invisible {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

@keyframes toUp {
    50%{
        height: 100vh;
    }
    100%{
        height: 0vh;
    }
}

@keyframes toUp_ {
    0% {
        height: 20vh;
        bottom: 0;
    }
    100% {
        height: 40vh;
        bottom: -20vh; /* Ajusta el valor según tu preferencia */
    }
}

body,header,footer{
    background-color: rgb(197, 117, 117);
}
header{
    border: 2px solid black;
    background-color: rgb(209, 195, 195);
    height: 100px;
    animation-name:toUp_;
    transition: all 2s;
}
.seccionIntereses{
    margin:10px;
    font-size: 20px;
    background-color: rgb(79, 79, 214);
}

.seccionEducacion{
    margin:10px;
    font-size: 20px;
    background-color: rgb(200, 214, 79);
}

.seccionHabilidades{
    margin:10px;
    font-size: 20px;
    background-color: rgb(214, 106, 79);
}

.seccionProyectos{
    margin:10px;
    font-size: 20px;
    background-color: rgb(79, 194, 214);
}

.barraNavegacion{
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 15px;
    justify-content: center;
    letter-spacing: 2px;
    animation-name:toUp_;
}

.botonNavegacion{
    position:absolute;
    top: 12px;
    right: 12px;
    width: 35px;
    margin-top: 16px;
}

.contenedorHeader{

}