* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: grey;
    position: relative;
    max-width: 100%;
}

body {
    margin-left: 20%;
    max-width: 75%;
    width: 60%;
}

.desc {
    background-color: rgb(51, 223, 51);
    padding: 1%;
    right: 50%;
    width: 100%;
}

.dross {
    background-color: blueviolet;
    padding-bottom: 6%;
    padding-left: 1%;
    padding-top: 5%;
    position: relative;
    width: 100%;
}
.letras{
    font-size: 30px;
    font-weight: bold;
    margin: auto;
}

.emp {
    height: 120px;
    position: absolute;
    bottom: 1%;
    right: 1%;
    top: 3%;
    padding: 0.5% 0.5% 2% 1%;
    width: 25%;
    height: 18vh;
}

.cua {
    background-color: white;
    height: 80vh;
    max-width: 100%;
    position: relative;
    width: 100%;
}

.cuadrado {
    height: 75%;
    position: absolute;
    width: 30%;
}

.cuadrado1 {
    background-color: blue;
    border-radius: 15px;
    margin-bottom: 1%;
    margin-top: 6%;
    right: 20px;
}

.cuadrado2 {
    background-color: blue;
    border-radius: 15px;
    margin-bottom: 1%;
    margin-top: 6%;
    right: 50%;
    transform: translateX(50%);
}

.cuadrado3 {
    background-color: blue;
    border-radius: 15px;
    left: 20px;
    margin-bottom: 1%;
    margin-top: 6%;
}

footer {
    background-color: rgb(51, 223, 51);
    padding: 25px;
}

.im {
    border-radius: 15px 15px 0 0;
    height: 50%;
    position: absolute;
    width: 100%;
}

.im2 {
    border-radius: 15px 15px 0 0;
    height: 45%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.im3 {
    border-radius: 15px 15px 0 0;
    height: 50%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.imagen {
    border-radius: 15px 15px 0 0;
    height: 29vh;
    width: 100%;
}

.circulo1 {
    background-image: url(../imagenes/es_la_meca.jpeg);
    background-position: center;
    background-position: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 12px;
    height: 100px;
    left: 28%;
    position: absolute;
    top: 36%;
    width: 100px;
}

.circulo2 {
    background-image: url(../imagenes/dross_pelo_largo.jpeg);
    background-position: center;
    background-position: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 12px;
    height: 100px;
    left: 28%;
    position: absolute;
    top: 36%;
    width: 100px;
}

.circulo3 {
    background-image: url(../imagenes/dross_fino.jpeg);
    background-position: center;
    background-position: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 12px;
    height: 100px;
    left: 28%;
    position: absolute;
    top: 36%;
    width: 100px;
}

.texto {
    color: aqua;
    left: 10px;
    position: absolute;
    top: 60%;
    height: 35%; 
    overflow: auto;
    max-height: 14vh; 
}

.button {
    background-color: green;
    box-shadow: 0px 0px 15px;
    left: 25%;
    position: absolute;
    top: 88%;
    padding: 3%;
    transform: translateX(50%);
}
.seccionBoton{
    top: 88%;
    position: relative;
    margin: auto;
}
